
body{
    background-color: beige;
}


input{
    padding: 1rem;
    width: 80%;
    font-family: cursive;
    font-size: 1rem;
    text-align: center;
}

button{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10vh;
    width: 80%;
}

#outputTxt{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
}